<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Robroy Lightbox</title>
		<script integrity="sha256-tuKyZn/3ycw/MNMDii/kvSPrelo6SCsJSecqb1n2neg=">document.documentElement.classList.remove('no-js');</script>
	</head>
	<body>
		<h1>Robroy Lightbox</h1>

		<h2>Basic example</h2>
		{{{code '<a href="https://photography.jennybelanger.com/wp-content/uploads/2013/02/P7164878.JPG" data-robroy>
	<img src="https://photography.jennybelanger.com/wp-content/uploads/2013/02/P7164878-377x283.jpg" height="141" width="188">
</a>

<script src="robroy.min.js"></script>
<script>window.robroy();</script>'}}}

		<h2>Image with <code>data-robroy-caption</code> attribute</h2>
		{{{code '<a href="https://photography.jennybelanger.com/wp-content/uploads/2022/08/DSC_6037.jpg" data-robroy data-robroy-caption="Curabitur viverra enim nunc, sit amet euismod mauris luctus eget.">
	<img src="https://photography.jennybelanger.com/wp-content/uploads/2022/08/DSC_6037-377x251.jpg" height="125" width="188">
</a>'}}}

		<h2>Image with <code>&lt;figcaption&gt;</code> inside link</h2>
		{{{code '<a href="https://photography.jennybelanger.com/wp-content/uploads/2016/05/P1220804e.jpg" data-robroy>
	<figure>
		<img src="https://photography.jennybelanger.com/wp-content/uploads/2016/05/P1220804e-377x503.jpg" height="251" width="188">
		<figcaption>Nunc mi quam, molestie vitae est sed.</figcaption>
	</figure>
</a>'}}}

		<h2>Image with <code>&lt;figcaption&gt;</code> outside link</h2>
		{{{code '<figure>
	<a href="https://photography.jennybelanger.com/wp-content/uploads/2016/05/P1230614e.jpg" data-robroy>
		<img src="https://photography.jennybelanger.com/wp-content/uploads/2016/05/P1230614e-377x503.jpg" height="251" width="188">
	</a>
	<figcaption>Quisque elementum, enim ultrices euismod tempus.</figcaption>
</figure>'}}}

		<h2>Image with <code>alt</code> attribute</h2>
		{{{code '<a href="https://photography.jennybelanger.com/wp-content/uploads/2016/07/DSC_0167e.jpg" data-robroy>
	<img alt="Suspendisse et vehicula justo, a maximus augue" src="https://photography.jennybelanger.com/wp-content/uploads/2016/07/DSC_0167e-377x565.jpg" height="282" width="188">
</a>'}}}

		<h2>Image with really long caption, including HTML</h2>
		{{{code '<figure>
	<a href="https://photography.jennybelanger.com/wp-content/uploads/2016/12/DSC_2619.jpg" data-robroy>
		<img src="https://photography.jennybelanger.com/wp-content/uploads/2016/12/DSC_2619-377x251.jpg" height="125" width="188">
	</a>
	<figcaption>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida dictum nisl, et venenatis tortor condimentum a. Etiam vel ligula condimentum mi tristique viverra id nec urna. Mauris rhoncus odio quis dolor pellentesque, sit amet tempus elit consequat. Nunc ultrices vel arcu sit amet tincidunt. Nam quis leo nulla. Maecenas a enim magna. Aenean at augue ac nunc consectetur lobortis. Maecenas sit amet dui auctor enim condimentum vestibulum. Vivamus commodo diam augue, at volutpat lacus pharetra vitae. In tristique vel nibh ac sagittis. Aenean tincidunt neque risus, sit amet molestie dui ultricies nec.</p>
		<p>Integer placerat sit amet purus id suscipit. Vivamus tempor rhoncus sapien vitae tempus. Sed neque quam, rutrum at dui vel, ullamcorper vehicula nisl. Nam sit amet neque eu nulla fermentum congue. Maecenas lacinia mattis massa ac tempor. Pellentesque posuere varius mattis. Fusce nec ante eget dolor blandit volutpat ac et nibh. Maecenas fermentum, turpis ac sagittis posuere, mi erat ornare enim, ac cursus felis lacus quis felis. Nam tempus ex ut risus feugiat ullamcorper.</p>
		<p><cite><a href="https://lipsum.com">Source</a></cite></p>
	</figcaption>
</figure>'}}}

		<h2>Image with alternate link in <code>data-robroy-href</code></h2>
		{{{code '<a href="https://photography.jennybelanger.com/wp-content/uploads/2022/08/DSC_5844.jpg" data-robroy data-robroy-href="https://photography.jennybelanger.com/wp-content/uploads/2016/12/DSC_0463-377x565.jpg">
	<img src="https://photography.jennybelanger.com/wp-content/uploads/2022/08/DSC_5844-377x251.jpg" height="125" width="188">
</a>'}}}

		<h2>Image with an arbitrary number of parent elements</h2>
		{{{code '<a href="https://photography.jennybelanger.com/wp-content/uploads/2013/02/P8190696.JPG" data-robroy>
	<figure>
		<div>
			<img src="https://photography.jennybelanger.com/wp-content/uploads/2013/02/P8190696-377x283.jpg" height="141" width="188">
		</div>
	</figure>
</a>'}}}

		<h2>Image with pre-set height/width</h2>
		{{{code '<a href="https://photography.jennybelanger.com/wp-content/uploads/2022/08/DSC_5879.jpg" data-robroy data-robroy-height="1000" data-robroy-width="667">
	<img src="https://photography.jennybelanger.com/wp-content/uploads/2022/08/DSC_5879-377x565.jpg" height="282" width="188">
</a>'}}}

		<h2>Dynamically added images</h2>
		{{{code "<button id=\"dynamic-button\" type=\"button\">Add an image</button>

<p id=\"dynamic-container\"></p>

<script>
document.getElementById('dynamic-button').addEventListener('click', () => {
	const a = document.createElement('a');
	a.setAttribute('href', 'image.jpg');
	a.setAttribute('data-robroy', true);
	document.getElementById('dynamic-container').appendChild(a);

	const img = document.createElement('img');
	img.setAttribute('src', 'thumbnail.jpg');
	a.appendChild(img);

	window.robroy();
});
</script>"}}}
	</body>
</html>
